


	/*
	 * GENERAL STYLES STYLES
	 */

.tx-mmforum-exception {
	background-color: #ffe0e0;
	padding: 1em;
}

.tx-mmforum-form-row {
	clear:left;
	padding: 0.3em;
}

.tx-mmforum-form-left {
	float:left;
	vertical-align: middle;
}

.tx-mmforum-form-right {
	margin-left: 200px;
	vertical-align: middle;
}

.tx-mmforum-pages {
	border: 1px solid #dde6ff;
	background-color: #f0f0f0;
	-moz-border-radius-topleft: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	padding: 0.3em;
	float:right;
	margin: 1em 0em;
}

.tx-mmforum-success {
	background-color: #e6ffdd;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	padding: 1em;
}

.tx-mmforum-success li {
	list-style-type: none;
}

	/*
	 * BASIC TABLE STYLES
	 */

.tx-mmforum-header {
	color: #234479;
	font-size: larger;
	padding: 0.3em;
	padding-left: 1em;
	background-color: #dde6ff;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	border-bottom: 2px solid #234479;
}

.tx-mmforum-header-end {
	background-color: #dde6ff;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	border-top: 2px solid #234479;
	height: 16px;
}

.tx-mmforum-header img {
	vertical-align: middle;
	margin-right: 0.6em;
}

table.tx-mmforum-table {
	width: 100%;
	border-collapse: collapse;
}

table.tx-mmforum-table td {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-collapse: collapse;
	padding: 0.3em;
}

.tx-mmforum-even {
	background-color: #eef3fe;
}

.tx-mmforum-odd {

}

tr.tx-mmforum-table-legend {
	color: #234479;
	font-size: small;
	text-align: left;
	font-weight: normal;
}

tr.tx-mmforum-table-legend th {
	padding: 0.3em;
}

	/*
	 * BUTTONS
	 */

a.tx-mmforum-smallbutton {
	background-color: #f0f0f0;
	color: #000;
	text-decoration: none;
	height: 24px;
	color: #234479;
	font-size: small;
}

a.tx-mmforum-smallbutton img {
	vertical-align: middle;
}

a.tx-mmforum-smallbutton span {
	display: none;
}

a.tx-mmforum-smallbutton:hover span {
	display: inline;
}

a.tx-mmforum-bigbutton {
	background-color: #f0f0f0;
	color: #000;
	text-decoration: none;
	color: #234479;
	font-size: small;
	border: 1px solid #dde6ff;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	display: block;
	float: left;
	padding: 8px 16px;
	margin-right: 8px;
	text-align: center;
}

a.tx-mmforum-bigbutton:hover {
	background-color: #dde6ff;
}

a.tx-mmforum-bigbutton img {
	vertical-align: middle;
}

a.tx-mmforum-bigbutton div {
	display: none;
}

a.tx-mmforum-bigbutton:hover div {
	display: block;
	font-size: smaller;
}

	/*
	 * TOPIC SHOW ACTION
	 */

div.tx-mmforum-topic-show-post-user {
	padding: 0.3em;
	border-bottom: 1px solid #e0e0e0;
	height: 80px;
}

img.tx-mmforum-topic-show-post-user-icon {
	float:left;
}

a.tx-mmforum-topic-show-post-user-link {
	font-size: larger;
}

div.tx-mmforum-topic-show-post-text, div.tx-mmforum-topic-show-post-signature {
	padding: 0.3em;
	border-bottom: 1px solid #e0e0e0;
}

div.tx-mmforum-topic-show-post-attachments, div.tx-mmforum-quote {
	padding: 0.3em;
	margin: 1em;
	font-size: smaller;
	
	border: 1px solid #dde6ff;
	background-color: #f0f0f0;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
}

div.tx-mmforum-topic-show-post-attachments-header, div.tx-mmforum-quote-user {
	color: #234479;
	font-weight: bold;
}

div.tx-mmforum-topic-show-post-attachments table {
	width: 100%;
	display: none;
}

div.tx-mmforum-topic-show-post-attachments:hover table {
	display: table;
}

div.tx-mmforum-topic-show-post-attachments table td {
	padding: 0px;
	font-size: smaller;
}

.tx-mmforum-topic-show-post-menu {
	float: right;
	background-color: #f0f0f0;
	padding: 4px;
	padding-left: 12px;
	border-left: 1px solid #dde6ff;
	border-bottom: 1px solid #dde6ff;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
}

	/*
	 * TEXTPARSER PANEL
	 */

.tx-mmforum-panel, .tx-mmforum-dropdown {
	float: left;
	border: 1px solid #234479;
	border-bottom: 0px;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	background-color: #dde6ff;
	margin-right: 8px;
	padding: 4px 8px;
	text-decoration: none;
	color: #234479;
	font-size: small;
}

.tx-mmforum-dropdown {
	position:absolute;
}

.tx-mmforum-panel-title, .tx-mmforum-dropdown-title {
	text-decoration: none;
	color: #234479;
	font-size: small;
	vertical-align: top !important;
	float: left;
}

.tx-mmforum-panel-items, .tx-mmforum-dropdown-firstitem {
	margin-left: 8px;
	float: left;
}

.tx-mmforum-dropdown-items {
	display:none;
	max-width: 200px;
	padding-top: 30px;
}

.tx-mmforum-dropdown-items img, .tx-mmforum-panel-items img {
	cursor: pointer;
}

.tx-mmforum-dropdown-items img {
	margin-right: 4px;
	margin-bottom: 4px;
}

.tx-mmforum-dropdown:hover {
	border: 1px solid #234479;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
}

.tx-mmforum-dropdown:hover .tx-mmforum-dropdown-items {
	display:block;
	position:relative;
}

textarea.tx-mmforum-editor, input.tx-mmforum-editor {
	border: 1px solid #234479;
	width: 100%;
	margin: 0px;
}