{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}

<div>
    <div class="tx-typo3forum-topic-show-post-menu">
        <f:render partial="Post/Menu" arguments="{post: post}"/>
    </div>
    <f:if condition="{post.author.anonymous}">
        <f:then>
            <f:render partial="User/AnonymousInformationRow" arguments="{user: post.author}"/>
        </f:then>
        <f:else>
            <f:render partial="User/InformationRow" arguments="{user: post.author}"/>
        </f:else>
    </f:if>
    <div class="tx-typo3forum-topic-show-post-text">
        <mmf:format.textParser post="{post}"/>

        <f:if condition="{post.attachments}">
            <div class="tx-typo3forum-topic-show-post-attachments">
                <div class="tx-typo3forum-topic-show-post-attachments-header">
                    <f:translate key="Post_Show_Attachments"/>
                    (
                    <f:count subject="{post.attachments}"/>
                    )
                </div>
                <table>
                    <f:for each="{post.attachments}" as="attachment">
                        <tr>
                            <td>
                                <f:link.action controller="Post" action="downloadAttachment"
                                               arguments="{attachment: attachment}">
                                    {attachment.filename}
                                </f:link.action>
                            </td>
                            <td>{attachment.mimeType}</td>
                            <td>
                                <mmf:format.fileSize>{attachment.filesize}</mmf:format.fileSize>
                            </td>
                            <td>
                                <f:translate key="Post_Show_Attachment_DownloadCount"
                                             arguments="{0: attachment.downloadCount}"/>
                            </td>
                        </tr>
                    </f:for>
                </table>
            </div>
        </f:if>
    </div>
    <f:if condition="{post.author.signature}">
        <div class="tx-typo3forum-topic-show-post-signature">
            <mmf:format.textParser content="{post.author.signature}"/>
        </div>
    </f:if>
    <div class="tx-typo3forum-topic-show-post-date">
        <f:format.date format="{settings.format.dateTimeFormat}">{post.timestamp}</f:format.date>
    </div>
</div>
