{namespace mmf=Tx_MmForum_ViewHelpers}
<f:layout name="default" />



	<!-- MAIN Section -->
<f:section name="main">

	<f:if condition="{forum.children}">
		<f:render partial="Forum/List" arguments="{category: forum, header: 'Subforums', settings: settings}" />
	</f:if>

	<f:render partial="Forum/PageBrowser" arguments="{forum: forum, elements: topicCount, currentPage: page, configuration: settings.forumController.show.pagebrowser}" />

	<div class="tx-mmforum-header">
		<mmf:forum.forumIcon forum="{forum}" width="24" />
		{forum.title}
	</div>
	<f:render partial="Topic/List" arguments="{topics: topics, settings: settings}" />
	<div class="tx-mmforum-header-end"></div>

	<f:render partial="Forum/PageBrowser" arguments="{forum: forum, elements: topicCount, currentPage: page, configuration: settings.forumController.show.pagebrowser}" />

</f:section>



	<!-- MENU Section -->
<f:section name="menu">
	<f:render partial="Forum/Menu" arguments="{forum: forum}" />
</f:section>