{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}
{namespace b=Mittwald\Typo3Forum\ViewHelpers\Bootstrap}

<f:layout name="default"/>
<f:section name="main">
	<f:render partial="FormErrors"/>
	<h2><f:translate key="Topic_New"/></h2>
	<f:form name="post" object="{post}" controller="Topic" action="create" id="topic" enctype="multipart/form-data">
		<fieldset>
			<legend>Create a new topic</legend>
			<f:if condition="{currentUser.anonymous}">
				<b:form.row llLabel="Post_New_Author" labelFor="authorName" error="post.authorName" errorLLPrefix="Post_New_Error_Author">
					<f:form.textfield property="authorName" id="authorName" required="true"/>
				</b:form.row>
			</f:if>
			<b:form.row llLabel="Topic_New_Subject" labelFor="subject" error="subject" errorLLPrefix="Topic_New_Error_Subject">
				<f:form.textfield name="subject" id="subject" value="{subject}" required="true" />
			</b:form.row>
			<b:form.row llLabel="Topic_New_Text" labelFor="typo3forum_editor" error="post.text" errorLLPrefix="Topic_New_Error_Post_Text">
				<mmf:form.bbCodeEditor property="text" id="typo3forum_editor" rows="20" cols="40" />
			</b:form.row>
			<b:form.row llLabel="Topic_New_Attachments" labelFor="attachments" error="attachments" errorLLPrefix="Topic_New_Error_Attachment_Text">
				<f:if condition="{post.attachments}">
					<f:for each="{post.attachments}" as="attachment">
						<div>
							{attachment.filename},
							<mmf:format.fileSize>{attachment.filesize}</mmf:format.fileSize>
						</div>
					</f:for>
				</f:if>
				<f:form.upload id="attachments" name="attachments[0]"/>
			</b:form.row>
			<b:form.row llLabel="Topic_New_Subscribe" labelFor="subscribe">
				<f:form.checkbox name="subscribe" id="subscribe" value="1"/>
				<f:translate key="Topic_New_SubscribeMore"/>
			</b:form.row>
			<div>
				<f:form.hidden name="forum" value="{forum}"/>
				<f:form.submit value="{f:translate(key:'Topic_New_Submit')}"/>
				<b:button primary="1" icon="back" controller="Forum" action="show" arguments="{forum: forum}" label="Button_Back"/>
			</div>
		</fieldset>
	</f:form>
</f:section>
<f:section name="menu"/>
