{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}
<f:layout name="default" />



<!-- MAIN section -->
<f:section name="main">
    <h2>Das Neuste im Forum</h2>
    <div class="row">
        <div class="col-sm-12">
            <f:for each="{topics}" as="topic">
                <f:cycle values="{0: 'odd', 1: 'even'}" as="zebra">
                    <div class="tx-typo3forum-new-box-{zebra}">
                        <h3>
                            <f:link.action controller="Topic" action="show" arguments="{topic: topic, forum:topic.forum}"
                                           pageUid="{settings.pids.Forum}">{topic.subject}</f:link.action></h3>
                        <p class="pull left">
                            von <f:link.action controller="User"
                                           action="show"
                                           arguments="{user: topic.author}"
                                           class="tx-typo3forum-topic-show-post-user-link"
                                           pageUid="{settings.pids.UserShow}">{topic.author.username}</f:link.action><br>
                        in <f:link.action action="show" arguments="{forum : topic.forum}" pageUid="{settings.pids.Forum}">{topic.forum.title}</f:link.action>
                        </p>
                        <p class="pull-right">
                        <f:format.date format="d.m.Y H:i">{topic.timestamp}</f:format.date>
                        </p>

                    </div>
                </f:cycle>
            </f:for>

        </div>
    </div>

</f:section>

<!-- MENU section -->
<f:section name="menu">

</f:section>