{namespace mmf=Tx_MmForum_ViewHelpers}

<mmf:control.bigButton controller="Forum"
					   action="show"
					   iconAction="back"
					   arguments="{forum: topic.forum}">Back</mmf:control.bigButton>

<mmf:authentication.ifAccess object="{topic}" accessType="newPost">
	<mmf:control.bigButton controller="Post" action="new" arguments="{topic: topic}">Reply</mmf:control.bigButton>
</mmf:authentication.ifAccess>

<mmf:authentication.ifLoggedIn>
	<mmf:user.ifSubscribed object="{topic}">
		<f:then>
			<mmf:control.bigButton controller="User"
								   action="subscribe"
								   iconAction="unsubscribe"
								   arguments="{topic: topic, unsubscribe: 1}">
				Unsubscribe
			</mmf:control.bigButton>
		</f:then>
		<f:else><mmf:control.bigButton controller="User" action="subscribe" arguments="{topic: topic}">Subscribe</mmf:control.bigButton></f:else>
	</mmf:user.ifSubscribed>
</mmf:authentication.ifLoggedIn>