{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}

<table>
    <colgroup>
        <col width="32"/>
        <col/>
        <col/>
        <col width="5%"/>
        <col width="35%"/>
    </colgroup>
    <thead>
    <tr>
        <th></th>
        <th>
            <f:translate key="Forum_Show_Topic_Subject"/>
        </th>
        <th>
            <f:translate key="Forum_Show_Topic_Author"/>
        </th>
        <th>
            <f:translate key="Forum_Show_Topic_Posts"/>
        </th>
        <th>
            <f:translate key="Forum_Show_Topic_LastPost"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <f:if condition="{topics}">
        <f:then>
            <f:for each="{topics}" as="topic">
                <f:render section="topicListItem" arguments="{topic:topic}"/>
            </f:for>
        </f:then>
        <f:else>
            <tr>
                <td colspan="5">
                    <div>
                        <f:translate key="Forum_Show_Empty"/>
                    </div>
                </td>
            </tr>
        </f:else>
    </f:if>
    </tbody>
</table>

<f:section name="topicListItem">
    <tr>
        <mmf:ifInstanceOf object="{topic}" className="\Mittwald\Typo3Forum\Domain\Model\Forum\ShadowTopic">
            <f:then>
                <f:render section="shadowTopic" arguments="{topic:topic}"/>
            </f:then>
            <f:else>
                <f:render section="regularTopic" arguments="{topic:topic}"/>
            </f:else>
        </mmf:ifInstanceOf>
    </tr>
</f:section>

<f:section name="regularTopic">
    <td style="width:1px;">
        <mmf:forum.topicIcon topic="{topic}" width="32"/>
    </td>
    <td>
        <f:link.action controller="Topic" action="show" arguments="{topic: topic}" pageUid="{settings.pids.Forum}">
            {topic.subject}
        </f:link.action>
    </td>
    <td>
        <mmf:user.link user="{topic.author}"/>
    </td>
    <td>{topic.replyCount}</td>
    <td>
        <f:render partial="Post/Summary" arguments="{post: topic.lastPost}"/>
    </td>
</f:section>

<f:section name="shadowTopic">
    <td style="width:1px;">
        <mmf:forum.topicIcon topic="{topic}" width="32"/>
    </td>
    <td>
        <f:translate key="Forum_Show_Topic_Moved"/>
        :
        <f:link.action controller="Topic" action="show" arguments="{topic: topic.target}"
                       pageUid="{settings.pids.Forum}">
            {topic.target.subject}
        </f:link.action>
    </td>
    <td colspan="3" align="center">
        <f:translate key="Forum_Show_Topic_Moved"/>
    </td>
</f:section>
