{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}
<f:layout name="default"/>
<f:section name="main">
    <h2>
        <f:if condition="{mine} == {1}">
            <f:then>
                <f:translate key="Tags_List_All"/>
            </f:then>
            <f:else>
                <f:translate key="Tags_ListUserTags"/>
            </f:else>
        </f:if>
    </h2>
    <f:if condition="{tags.0} == {NULL}">
        <f:then>
            <div>
                <f:translate key="Tags_List_NotFound"/>
            </div>
        </f:then>
        <f:else>
            <f:widget.paginate objects="{tags}" as="paginatedTags" configuration="{settings.pagebrowser.default}">
                <div>
                    <div>
                        <f:translate key="Tags_List_Name"/>
                    </div>
                    <div>
                        <f:translate key="Tags_List_TopicAmount"/>
                    </div>
                    <div>
                        <f:translate key="Tags_List_Subscribers"/>
                    </div>
                </div>
                <f:for each="{paginatedTags}" as="tag">
                    <div>
                        <div>
                            <f:link.action controller="Tag" action="show" arguments="{tag: tag}">
                                {tag.name}
                            </f:link.action>
                        </div>
                        <div>
                            {tag.topicCount}
                        </div>
                        <div>
                            <f:count>{tag.feuser}</f:count>
                        </div>
                        <div>
                            <f:if condition="{user.anonymous} == {FALSE}">
                                <f:if condition="<mmf:tag.generateAction subscribedUser='{tag.feuser}' currentUser='{user}' /> == 1">
                                    <f:then>
                                        <f:link.action action="newUserTag" arguments="{tag: tag, mine: mine}">
                                            <f:translate key="Tags_List_New"/>
                                        </f:link.action>
                                    </f:then>
                                    <f:else>
                                        <f:link.action action="deleteUserTag" arguments="{tag: tag, mine: mine}">
                                            <f:translate key="Tags_List_Remove"/>
                                        </f:link.action>
                                    </f:else>
                                </f:if>
                            </f:if>
                        </div>
                    </div>
                </f:for>
            </f:widget.paginate>
        </f:else>
    </f:if>
    <div>
        <div>
            <f:if condition="{user.anonymous} == {FALSE}">
                <f:link.action controller="Tag" action="new">
                    <f:translate key="Tags_New_Btn"/>
                </f:link.action>
            </f:if>
        </div>
    </div>
    <div>
        <div>
            <f:if condition="{mine} == 1">
                <f:then>
                    <f:link.action controller="Tag" action="list" arguments="{mine: 0}">
                        <f:translate key="Tags_List_Link_All"/>
                    </f:link.action>
                </f:then>
                <f:else>
                    <f:if condition="{user.anonymous} == {FALSE}">
                        <f:link.action controller="Tag" action="list" arguments="{mine: 1}">
                            <f:translate key="Tags_List_Link_Mine"/>
                        </f:link.action>
                    </f:if>
                </f:else>
            </f:if>
        </div>
    </div>
</f:section>
<f:section name="menu"/>