{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}
<div class="tx-typo3forum-stats-summary">
    <div>
        <f:for each="{dataset.items}" as="item">
            <div>
                <div>
                    <f:if condition="{item.type} == 0">
                        <f:then>
                            <f:translate key="Stats_Summary_Type_Post"/>
                            :
                        </f:then>
                        <f:else>
                            <f:if condition="{item.type} == 1">
                                <f:then>
                                    <f:translate key="Stats_Summary_Type_Topic"/>
                                    :
                                </f:then>
                                <f:else>
                                    <f:translate key="Stats_Summary_Type_User"/>
                                    :
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
                <div>
                    {item.amountNice}
                </div>
            </div>
        </f:for>
    </div>
</div>