<f:layout name="default" />

This Template is responsible for creating a table of domain objects.

<f:section name="main">
<h1>Listing for User</h1>

<f:flashMessages />

<table>
	<tr>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{users}" as="user">
		<tr>
			<td><f:link.action action="edit" arguments="{user : user}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{user : user}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New User</f:link.action>
</f:section>