{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}
{namespace b=Mittwald\Typo3Forum\ViewHelpers\Bootstrap}

<f:layout name="default" />

<f:section name="main">

	<f:flashMessages />

	<h2>
		Edit Report
		<small>{report.topic.subject}</small>
	</h2>

	<div>
		<div>
			<fieldset>
				<legend>
					<f:translate key="Report_Edit_General" />
				</legend>
				<div>
					<div>
						<f:translate key="Report_Edit_Reporter" />
					</div>
					<div>
						<mmf:user.link user="{report.reporter}"  />
					</div>
				</div>
				<div>
					<div>
						<f:translate key="Report_Edit_Date" />
					</div>
					<div>
						<p style="margin-top: 5px;">
							<f:format.date format="{settings.format.dateTimeFormat}">{report.crdate}</f:format.date>
						</p>
					</div>
				</div>
				<div>
					<div>
						<f:translate key="Report_Edit_Status" />
					</div>
					<div>
						<div>
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="tx-typo3forum-icon-16-advanced" style="background-image: url({report.workflowStatus.iconFullpath});"></i>
							{report.workflowStatus.name}
								<span ></span>
							</a>
							<ul class="dropdown-menu">
								<f:for each="{report.workflowStatus.followupStatus}" as="followupStatus">
									<li>
										<f:link.action action="updatePostReportStatus" arguments="{report: report, status: followupStatus, redirect: 'show'}">
											<i class="tx-typo3forum-icon-16-advanced" style="background-image: url({followupStatus.iconFullpath});"></i>
											<f:translate key="Report_Edit_SetStatus" arguments="{0: followupStatus.name}" />
										</f:link.action>
									</li>
								</f:for>
							</ul>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>
					<f:translate key="Report_Edit_Post" />
				</legend>

				<div>
					<div>
						<f:translate key="Report_Edit_Reportee" />
					</div>
					<div>
						<mmf:user.link user="{report.post.author}"  />
					</div>
				</div>

				<div>
					<div>
						<f:translate key="Report_Edit_Topic" />
					</div>
					<div>
						<mmf:forum.rootline rootline="{report.topic.rootline}" forumicon="iconset-22-folder" topicicon="iconset-22-balloon"
											style="margin-bottom: 0px;"/>
					</div>
				</div>
				<f:render partial="Post/Single" arguments="{post: report.post}" />
			</fieldset>
		</div>
		<div>
			<fieldset>
				<legend>
					<f:translate key="Report_Edit_Comments" />
					<f:link.action action="newReportComment" arguments="{report: report}" >
						<f:translate key="Report_Edit_Comments_New" />
					</f:link.action>
				</legend>
				<table>
					<thead>
						<tr>
							<th>#</th>
							<th>Author</th>
							<th>Content</th>
						</tr>
					</thead>
					<tbody>
						<f:for each="{report.comments}" as="comment">
							<tr>
								<td>{comment.uid}</td>
								<td>
									<mmf:user.link user="{comment.author}"  />
								</td>
								<td>
									<div class="tx-typo3forum-topic-show-post-date">
										<f:format.date format="{settings.format.dateTimeFormat}">{comment.timestamp}</f:format.date>
									</div>
									<mmf:format.textParser content="{comment.text}" />
								</td>
							</tr>
						</f:for>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>

</f:section>

<f:section name="menu" />
