{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}
<f:layout name="default"/>


<f:section name="main">
    <f:render partial="FormErrors"/>

    <f:form name="topic" object="{topic}" controller="Moderation" action="updateTopic" id="topic">
        <fieldset>
            <legend>
                <f:translate key="Moderation_EditTopic" default="TODO: Moderate topic"/>
            </legend>
            <div>
                <label for="sticky">
                    <f:translate key="Moderation_EditTopic_Sticky" default="TODO: Sticky"/>
                </label>
                <div>
                    <f:form.checkbox property="sticky" value="1"/>
                </div>
            </div>
            <div>
                <label for="closed">
                    <f:translate key="Moderation_EditTopic_Closed" default="TODO: Closed"/>
                </label>
                <div>
                    <f:form.checkbox property="closed" value="1"/>
                </div>
            </div>
            <div>
                <label for="moveTopicTarget">
                    <f:translate key="Moderation_EditTopic_Move" default="TODO: Move"/>
                </label>
                <div>
                    <f:form.checkbox id="tx-typo3forum-movetopic" name="moveTopic" value="1"/>
                    <mmf:form.forumSelect name="moveTopicTarget" value="{topic.forum}"
                                          id="tx-typo3forum-movetopic-target" disabled="disabled"/>
                </div>
            </div>
            <div>
                <f:link.action controller="Topic" action="show" arguments="{topic: topic}">
                    <f:translate key="Button_Back"/>
                </f:link.action>
                <f:form.submit value="{f:translate(key:'Moderation_EditTopic_Submit', default:'TODO: Submit')}"/>
            </div>
        </fieldset>
    </f:form>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tx-typo3forum-movetopic').click(function () {
                if ($(this).attr('checked'))
                    $('#tx-typo3forum-movetopic-target').removeAttr('disabled');
                else $('#tx-typo3forum-movetopic-target').attr('disabled', 'disabled');
            });
        });
    </script>
</f:section>


<f:section name="menu">
</f:section>
