@mixin image($filename, $width, $height) {
	background-image: url($filename) !important;
	background-repeat: no-repeat;
	width: $width;
	height: $height;
	display: inline-block;
	margin-right: 0.3em;
	vertical-align: text-top;
}

@mixin icon($key, $filename) {
	.tx-typo3forum-icon-32-#{$key} { @include image('../Images/Icons/'+$filename+'-32.png', 32px, 32px); }
	.tx-typo3forum-icon-16-#{$key} { @include image('../Images/Icons/'+$filename+'-16.png', 16px, 16px); }
}

@include icon('back', 'Navigation/Back');
@include icon('edit', 'Edit');
@include icon('forum', 'Forum/Forum');
@include icon('forum-root', 'Forum/Root');
@include icon('forum-edit', 'Forum/Edit');
@include icon('forum-acledit', 'Forum/AclEdit');