/*
 * COLOR DEFINITIONS
*/
/*
 * SECONDARY COLOR DEFINITIONS
*/
/*
 * OTHER DEFINITIONS
*/
/*
 * GENERAL STYLES
*/
.tx-typo3forum-exception {
  background-color: #ffe5e5;
  padding: 1em; }

.tx-typo3forum-pages {
  border: 1px solid #dde6ff;
  background-color: #f0f0f0;
  padding: 0.3em;
  float: right;
  margin: 1em 0em; }

.tx-typo3forum-success {
  background-color: #e5ffe5;
  padding: 1em;
  margin-top: 0px;
  border: 1px solid green;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e5ffe5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5ffe5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e5ffe5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e5ffe5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e5ffe5 100%);
  /* IE10+ */
  background: linear-gradient(top, white 0%, #e5ffe5 100%);
  /* W3C */ }
  .tx-typo3forum-success li {
    list-style-type: none;
    margin: 0px; }

.tx-typo3forum-helpfull-btn {
  cursor: pointer; }

.tx-typo3forum-posts-listing .tx-typo3forum-ajax-loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../Images/loader_main_bg.gif");
  background-repeat: no-repeat; }

.tx-typo3forum-posts-listing .topic .tx-typo3forum-ajax-loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../Images/loader_main.gif");
  background-repeat: no-repeat; }

/*
 * BASIC TABLE STYLES
*/
.tx-typo3forum-header {
  color: #26467b;
  font-size: 1em;
  padding: 0.3em;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e4ebf7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e4ebf7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e4ebf7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e4ebf7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e4ebf7 100%);
  /* IE10+ */
  background: linear-gradient(top, white 0%, #e4ebf7 100%);
  /* W3C */
  border-bottom: 2px solid #26467b;
  overflow: auto; }
  .tx-typo3forum-header img {
    vertical-align: middle;
    margin-right: 0.6em; }

.tx-typo3forum-header-end {
  background-color: #e4ebf7;
  border-top: 2px solid #26467b;
  height: 16px; }

table.tx-typo3forum-table {
  width: 100%;
  border-collapse: collapse; }
  table.tx-typo3forum-table tr td {
    font-size: 0.75em;
    border-top: 1px solid #e0e0e0;
    border-collapse: collapse;
    padding: 0.3em; }
  table.tx-typo3forum-table tr.tx-typo3forum-even {
    background-color: #f7f7f7; }
  table.tx-typo3forum-table tr.tx-typo3forum-table-legend {
    color: #26467b;
    background-color: #f7f7f7;
    font-size: 0.5625em;
    text-align: left;
    font-weight: normal; }
    table.tx-typo3forum-table tr.tx-typo3forum-table-legend th {
      padding: 0.3em; }

/*
 * BUTTONS
*/
a.tx-typo3forum-button, a.tx-typo3forum-button-small, a.tx-typo3forum-button-big {
  text-decoration: none;
  color: #26467b; }

a.tx-typo3forum-button-small {
  font-size: 0.75em;
  float: left;
  margin-left: 4px; }
  a.tx-typo3forum-button-small img {
    float: left;
    vertical-align: middle;
    margin-right: 4px; }
  a.tx-typo3forum-button-small div.tx-typo3forum-button-text {
    margin-left: 20px;
    font-size: 0.8em;
    display: none; }

a.tx-typo3forum-button-big {
  display: block;
  float: left;
  padding: 0px 0px;
  margin-right: 8px;
  overflow: auto;
  height: 32px;
  font-size: 0.75em; }
  a.tx-typo3forum-button-big img {
    vertical-align: middle; }
  a.tx-typo3forum-button-big div.tx-typo3forum-button-text {
    background: white;
    /* Old browsers */
    background: -moz-linear-gradient(top, white 0%, #f7f7f7 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f7f7f7));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #f7f7f7 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, white 0%, #f7f7f7 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, white 0%, #f7f7f7 100%);
    /* IE10+ */
    background: linear-gradient(top, white 0%, #f7f7f7 100%);
    /* W3C */
    border: 1px solid #e0e0e0;
    float: left;
    padding: 4px 8px; }
  a.tx-typo3forum-button-big:hover div.tx-typo3forum-button-text {
    background: white;
    /* Old browsers */
    background: -moz-linear-gradient(top, white 0%, #e4ebf7 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e4ebf7));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #e4ebf7 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, white 0%, #e4ebf7 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, white 0%, #e4ebf7 100%);
    /* IE10+ */
    background: linear-gradient(top, white 0%, #e4ebf7 100%);
    /* W3C */
    border: 1px solid #26467b; }

/*
 * FORUM AND TOPIC ICONS
*/
div.tx-typo3forum-icon {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  position: relative; }
  div.tx-typo3forum-icon div.tx-typo3forum-icon-overlay, div.tx-typo3forum-icon div.tx-typo3forum-icon-overlay-tl, div.tx-typo3forum-icon div.tx-typo3forum-icon-overlay-bl, div.tx-typo3forum-icon div.tx-typo3forum-icon-overlay-tr, div.tx-typo3forum-icon div.tx-typo3forum-icon-overlay-br {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute; }
  div.tx-typo3forum-icon div.tx-typo3forum-icon-overlay-bl {
    top: 16px; }
  div.tx-typo3forum-icon div.tx-typo3forum-icon-overlay-tr {
    left: 16px; }
  div.tx-typo3forum-icon div.tx-typo3forum-icon-overlay-br {
    top: 16px;
    left: 16px; }

.tx-typo3forum-icon-32-back {
  background-image: url("../Images/Icons/Navigation/Back-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-back {
  background-image: url("../Images/Icons/Navigation/Back-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-edit {
  background-image: url("../Images/Icons/Edit-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-edit {
  background-image: url("../Images/Icons/Edit-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-forum {
  background-image: url("../Images/Icons/Forum/Forum-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-forum {
  background-image: url("../Images/Icons/Forum/Forum-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-topic {
  background-image: url("../Images/Icons/Topic/Topic-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-topic {
  background-image: url("../Images/Icons/Topic/Topic-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-topic-goto {
  background-image: url("../Images/Icons/Topic/Goto-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-topic-goto {
  background-image: url("../Images/Icons/Topic/Goto-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-topic-new {
  background-image: url("../Images/Icons/Topic/New-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-topic-new {
  background-image: url("../Images/Icons/Topic/New-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-post-new {
  background-image: url("../Images/Icons/Post/New-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-post-new {
  background-image: url("../Images/Icons/Post/New-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-post-edit {
  background-image: url("../Images/Icons/Post/Edit-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-post-edit {
  background-image: url("../Images/Icons/Post/Edit-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-post-delete {
  background-image: url("../Images/Icons/Post/Delete-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-post-delete {
  background-image: url("../Images/Icons/Post/Delete-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-subscribe {
  background-image: url("../Images/Icons/Subscribe-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-subscribe {
  background-image: url("../Images/Icons/Subscribe-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-unsubscribe {
  background-image: url("../Images/Icons/Unsubscribe-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-unsubscribe {
  background-image: url("../Images/Icons/Unsubscribe-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-quote {
  background-image: url("../Images/Icons/Post/Quote-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-quote {
  background-image: url("../Images/Icons/Post/Quote-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-report-new {
  background-image: url("../Images/Icons/Moderation/ReportNew-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-report-new {
  background-image: url("../Images/Icons/Moderation/ReportNew-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-moderate {
  background-image: url("../Images/Icons/Moderate-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-moderate {
  background-image: url("../Images/Icons/Moderate-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-advanced {
  background-image: url("../Images/Icons/Advanced-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-advanced {
  background-image: url("../Images/Icons/Advanced-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-user {
  background-image: url("../Images/Icons/User/User-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-user {
  background-image: url("../Images/Icons/User/User-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-user-profile {
  background-image: url("../Images/Icons/User/Profile-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-user-profile {
  background-image: url("../Images/Icons/User/Profile-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-32-user-twitter {
  background-image: url("../Images/Icons/User/Twitter-32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

.tx-typo3forum-icon-16-user-twitter {
  background-image: url("../Images/Icons/User/Twitter-16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: text-top; }

/*
 * FORMS
*/
.tx-typo3forum-form-row {
  clear: left;
  font-size: 0.75em;
  border-top: 1px solid #e0e0e0;
  border-collapse: collapse;
  padding: 0.3em; }
  .tx-typo3forum-form-row label {
    float: left;
    vertical-align: middle; }
  .tx-typo3forum-form-row .tx-typo3forum-form-right {
    margin-left: 30%;
    width: 60%;
    vertical-align: middle; }
  .tx-typo3forum-form-row .tx-typo3forum-form-span {
    clear: left; }
  .tx-typo3forum-form-row input, .tx-typo3forum-form-row textarea {
    border: 1px solid #e0e0e0;
    background: white;
    /* Old browsers */
    background: -moz-linear-gradient(top, white 0%, #f7f7f7 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f7f7f7));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #f7f7f7 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, white 0%, #f7f7f7 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, white 0%, #f7f7f7 100%);
    /* IE10+ */
    background: linear-gradient(top, white 0%, #f7f7f7 100%);
    /* W3C */
    padding: 4px 8px;
    width: 100%; }
  .tx-typo3forum-form-row input[type="submit"], .tx-typo3forum-form-row textarea[type="submit"], .tx-typo3forum-form-row input[type="checkbox"], .tx-typo3forum-form-row textarea[type="checkbox"] {
    width: auto; }

/*
 * TOPIC SHOW ACTION
*/
div.tx-typo3forum-topic-show-post-user {
  /*padding: 0.3em;
  border-bottom: 1px solid #e0e0e0;
  font-size: $baseFontSize;*/
  line-height: normal;
  /*@include vgradient(#ffffff, $highlightColor);*/
  height: 64px; }

img.tx-typo3forum-topic-show-post-user-icon {
  float: left;
  margin-right: 8px; }

.tx-typo3forum-topic-show-post-user-link {
  font-size: 1.33em; }

div.tx-typo3forum-topic-show-post-text, div.tx-typo3forum-topic-show-post-signature {
  padding-top: 1em; }

div.tx-typo3forum-topic-show-post-attachments, div.tx-typo3forum-quote {
  padding: 0.3em;
  margin: 1em;
  font-size: smaller;
  border: 1px solid #dde6ff;
  background-color: #f0f0f0;
  -moz-border-radius-topleft: 1em;
  -webkit-border-top-left-radius: 1em;
  -moz-border-radius-bottomright: 1em;
  -webkit-border-bottom-right-radius: 1em; }

div.tx-typo3forum-topic-show-post-attachments-header, div.tx-typo3forum-quote-user {
  color: #234479;
  font-weight: bold; }

div.tx-typo3forum-topic-show-post-attachments table {
  width: 100%;
  display: none; }

div.tx-typo3forum-topic-show-post-attachments:hover table {
  display: table; }

div.tx-typo3forum-topic-show-post-attachments table td {
  padding: 0px;
  font-size: smaller; }

.tx-typo3forum-topic-show-post-menu {
  float: right;
  padding: 4px 8px; }

.tx-typo3forum-topic-show-post-date {
  float: right;
  color: #aaa;
  font-style: italic; }

.ad {
	display: none;
}

/*
 * TEXTPARSER PANEL
*/
.tx-typo3forum-panel, .tx-typo3forum-dropdown {
  float: left;
  border: 1px solid #234479;
  border-bottom: 0px;
  -moz-border-radius-topleft: 1em;
  -webkit-border-top-left-radius: 1em;
  background-color: #dde6ff;
  margin-right: 8px;
  padding: 4px 8px;
  text-decoration: none;
  color: #234479;
  font-size: small; }

.tx-typo3forum-dropdown {
  position: absolute; }

.tx-typo3forum-panel-title, .tx-typo3forum-dropdown-title {
  text-decoration: none;
  color: #234479;
  font-size: small;
  vertical-align: top !important;
  float: left; }

.tx-typo3forum-panel-items, .tx-typo3forum-dropdown-firstitem {
  margin-left: 8px;
  float: left; }

.tx-typo3forum-dropdown-items {
  display: none;
  max-width: 200px;
  padding-top: 30px; }

.tx-typo3forum-dropdown-items img, .tx-typo3forum-panel-items img {
  cursor: pointer; }

.tx-typo3forum-dropdown-items img {
  margin-right: 4px;
  margin-bottom: 4px; }

.tx-typo3forum-dropdown:hover {
  border: 1px solid #234479;
  -moz-border-radius-bottomright: 1em;
  -webkit-border-bottom-right-radius: 1em; }

.tx-typo3forum-dropdown:hover .tx-typo3forum-dropdown-items {
  display: block;
  position: relative; }

ul.nav-pills-condensed {
  margin: 0px; }
  ul.nav-pills-condensed a {
    padding: 4px !important; }

ul.nav-pills-inline {
  display: inline-block;
  margin: 0px; }
  ul.nav-pills-inline a {
    padding: 4px !important;
    margin-top: -4px !important;
    margin-bottom: -4px !important; }

.markItUp * {
  margin: 0px;
  padding: 0px;
  outline: none; }

.markItUp a:link,
.markItUp a:visited {
  color: #000;
  text-decoration: none; }

.markItUp {
  margin: 5px 0 5px 0; }

.markItUpContainer {
  width: 90%;
  font-size: 1em; }

.markItUpEditor {
  font: 1em monospace;
  padding: 5px;
  width: 100%;
  height: 180px;
  clear: both;
  overflow: auto; }

.markItUpPreviewFrame {
  overflow: auto;
  background-color: #FFF;
  width: 99.9%;
  height: 180px;
  margin: 5px 0; }

.markItUpPreviewDiv {
  border: 1px solid #e0e0e0;
  padding: 4px 8px 4px 40px;
  margin-top: 8px;
  min-height: 40px;
  background-image: url(../Images/Icons/Topic/Preview.png);
  background-repeat: no-repeat;
  background-position: 4px 4px; }
  .markItUpPreviewDiv p {
    font-size: 1em; }

.markItUpFooter {
  width: 100%; }

.markItUpResizeHandle {
  overflow: hidden;
  width: 22px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../Images/handle.png);
  cursor: n-resize; }

/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li {
  list-style: none;
  float: left;
  position: relative; }

.markItUpHeader ul li:hover > ul {
  display: block; }

.markItUpHeader ul .markItUpDropMenu {
  background: transparent url(../Images/Icons/Navigation/Dropdown.png) no-repeat 18px 40%;
  padding-right: 12px; }

.markItUpHeader ul .markItUpDropMenu li {
  margin-right: 0px; }

/* next rows of buttons */
.markItUpHeader ul ul {
  display: none;
  position: absolute;
  top: 18px;
  left: 0px;
  background: #FFF;
  border: 1px solid #e0e0e0; }

.markItUpHeader ul ul li {
  float: none;
  border-bottom: 1px solid #e0e0e0; }

.markItUpHeader ul ul .markItUpDropMenu {
  background: white url(images/submenu.png) no-repeat 100% 50%; }

.markItUpHeader ul .markItUpSeparator {
  margin: 0 10px;
  width: 1px;
  height: 16px;
  overflow: hidden;
  background-color: #CCC; }

.markItUpHeader ul ul .markItUpSeparator {
  width: auto;
  height: 1px;
  margin: 0px; }

/* next rows of buttons */
.markItUpHeader ul ul ul {
  position: absolute;
  top: -1px;
  left: 150px; }

.markItUpHeader ul ul ul li {
  float: none; }

.markItUpHeader ul a {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -10000px;
  background-repeat: no-repeat;
  padding: 3px;
  margin: 0px; }

.markItUpHeader ul ul a {
  display: block;
  padding-left: 0px;
  text-indent: 0;
  width: 120px;
  padding: 5px 5px 5px 25px;
  background-position: 2px 50%; }

.markItUpHeader ul ul a:hover {
  background-color: #f7f7f7; }
