{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}
<f:layout name="default"/>
<f:section name="main">
    <f:form action="delete">
        <div>
            <h4>Delete post</h4>
            <p>Do you really want to delete this post?</p>
            <p>
                <f:form.hidden name="post" value="{post}"/>
                <f:form.submit value="Yes"/>
                <f:link.action action="show" arguments="{post: post}">No</f:link.action>
            </p>
        </div>
    </f:form>
</f:section>
<f:section name="menu"/>