{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}

<div class="tx-typo3forum-topic-box">
    <div>
        <f:if condition="{topics.0} == {NULL}">
            <f:then>
                <div>
                    <strong>
                        <f:translate key="Notice"/>
                    </strong>
                    <f:translate key="General_No_Entries"/>
                </div>
            </f:then>
            <f:else>
                <f:for each="{topics}" as="topic" iteration="iteration">
                    <div>
                        <div class="item">
                            <mmf:user.avatar user="{topic.author}" width="40"
                                             alt="{topic.author.username}"
                                             class="tx-typo3forum-topic-show-post-user-icon"/>
                            <h4>

                                <f:link.action controller="Topic" action="show" arguments="{topic: topic}"
                                               pageUid="{settings.pids.Forum}">
                                    <f:if condition="{topic.question} == 1">
                                        [
                                        <f:translate key="Forum_Show_Topic_Question"/>
                                        ]
                                    </f:if>
                                    {topic.subject}
                                </f:link.action>
                            </h4>
                            <f:format.date format="d.m.Y H:i">{topic.timestamp}</f:format.date>
                            -
                            <f:translate key="Button_Reply"/>
                            : {topic.replyCount} -
                            <f:translate key="Generic_By"/>
                            <mmf:user.link user="{topic.author}"/>
                        </div>
                    </div>
                    <f:if condition="{0:iteration.total} == {0:iteration.cycle}">
                        <f:else>
                            <f:if condition="{iteration.cycle} % 2">
                                <f:else>
									</div>
									<div>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:for>
			</f:else>
        </f:if>
    </div>
</div>


<f:if condition="{noDetail} == 1">
    <div>
        <f:link.action pageUid="{settings.pids.Forum}" controller="User" action="listFavorites" arguments="{user: user}">
            <i class="iconset-20-balloon"></i>
            <f:translate key="User_Index_All_Favorites"/>
        </f:link.action>
    </div>
</f:if>
