{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}
<div>
    <f:for each="{dataset.users}" as="user" iteration="iteration">
        <div>
            <div>
                <mmf:user.avatar user="{user}" width="30"
                                 alt="{post.author.username}"
                                 class="tx-typo3forum-topic-show-post-user-icon"/>
                <mmf:user.link user="{user}"/>
                <p>
                    {user.helpfulCountSession}
                    <f:translate key="User_Index_Helpful_Posts"/>
                </p>
            </div>
        </div>
    </f:for>
</div>
<div>
    <f:link.page pageUid="{settings.pids.UserList}">
        <i class="iconset-20-user"></i>
        <f:translate key="User_Index_Display_All"/>
    </f:link.page>
</div>