{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}

<div class="tx-typo3forum-message-box">
    <div>
        <f:if condition="{notifications.0} == {NULL}">
            <f:then>
                <f:translate key="User_Show_Notification_NotFound"/>
            </f:then>
            <f:else>
                <f:for each="{notifications}" as="notification" iteration="iteration">
                    <div>
                        <div>
                            <div>
                                <div>
                                    <mmf:user.avatar user="{notification.author}" width="40"
                                                     alt="{notification.author.username}"
                                                     class="tx-typo3forum-topic-show-post-user-icon"/>
                                </div>
                                <mmf:user.link user="{notification.author}"/>
                            </div>
                            <div>
                                <f:if condition="{notification.tag} != {NULL}">
                                    <f:then>
                                        <f:translate key="User_Show_Notification_Tag_1"/>
                                        <f:link.action pageUid="{settings.pids.Forum}" controller="Post" action="show"
                                                       arguments="{post: notification.post}">
                                            <f:translate key="Forum_Index_Topic"/>
                                        </f:link.action>
                                        <f:translate key="User_Show_Notification_Tag_2"/>
                                        <f:link.action controller="Tag" action="list"
                                                       arguments="{tag: notification.tag}">
                                            {notification.tag.name}
                                        </f:link.action>
                                        <f:translate key="User_Show_Notification_Tag_3"/>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{currentUser} == {notification.author}">
                                            <f:then>
                                                <f:translate key="User_Show_Notification_Author_1"/>
                                                <f:link.action pageUid="{settings.pids.Forum}" controller="Post"
                                                               action="show" arguments="{post: notification.post}">
                                                    {notification.post.title.title}
                                                </f:link.action>
                                                <f:translate key="User_Show_Notification_Author_2"/>
                                            </f:then>
                                            <f:else>
                                                <f:translate key="User_Show_Notification_Common_1"/>
                                                <f:link.action pageUid="{settings.pids.Forum}" controller="Post"
                                                               action="show" arguments="{post: notification.post}">
                                                    {notification.post.topic.title}
                                                </f:link.action>
                                                <f:translate key="User_Show_Notification_Common_2"/>
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                                <br>
							<span>
								<f:format.date format="d.m.Y">{notification.timestamp}</f:format.date>
								<f:translate key="Date_At"/>
								<f:format.date format="H:i">{notification.timestamp}</f:format.date>
								<f:translate key="Date_Clock"/>
							</span>
                            </div>
                        </div>
                    </div>

                </f:for>
            </f:else>
        </f:if>


        <f:if condition="{noDetail} == 1">
            <div>
                <f:link.action pageUid="{settings.pids.UserShow}" controller="User" action="listNotifications">
                    <i class="iconset-20-balloon"></i>
                    <f:translate key="User_Index_All_Notifications"/>
                </f:link.action>
            </div>
        </f:if>
    </div>
</div>
