{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}
<div class="tx-typo3forum-topic-question-box">
    <f:if condition="{topics}">
        <f:then>
            <div>

                <f:for each="{topics}" as="topic" iteration="iteration">
                    <div>
                        <div>
                            <div>
                                <mmf:forum.topicIcon topic="{topic}" width="32"/>
                            </div>
                            <h4>
                                <f:link.action controller="Topic" action="show" arguments="{topic: topic}"
                                               pageUid="{settings.pids.Forum}">{topic.subject}
                                </f:link.action>
                            </h4>
                            <f:translate key="Generic_By"/>
                            <mmf:user.link user="{topic.author}"/>
                            ,
                            <f:format.date format="d.m.Y H:i">{topic.timestamp}</f:format.date>
                            -
                            <f:translate key="Button_Replay"/>
                            : {topic.replyCount}
                        </div>
                    </div>
                    <f:if condition="{0:iteration.total} == {0:iteration.cycle}">
                        <f:else>
                            <f:if condition="{iteration.cycle} % 2">
                                <f:else>
            </div>
            <div>
                </f:else>
    </f:if>
    </f:else>
    </f:if>
    </f:for>
</div>
</f:then>
<f:else>
    <div>
        <div>
            <strong>
                <f:translate key="Notice"/>
            </strong>
            <f:translate key="General_No_Entries"/>
        </div>
    </div>
</f:else>
</f:if>
</div>
<div>

    <f:if condition="{user}">
        <f:then>
            <f:link.action pageUid="{settings.pids.Forum}" controller="User" action="listQuestions"
                           arguments="{user: user}">
                <i class="iconset-20-balloon"></i>
                <f:translate key="Topic_All_Questions"/>
                ({user.username})
            </f:link.action>
        </f:then>
        <f:else>
            <f:link.page pageUid="{settings.pids.Forum}"><i
                    class="iconset-20-balloon"></i>
                <f:translate key="Topic_All_Questions"/>
            </f:link.page>
        </f:else>
    </f:if>


</div>