{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}

<div class="tx-typo3forum-topic-box">
    <f:if condition="{topics}">
        <f:then>
            <div>
                <f:for each="{topics}" as="topic" iteration="iteration">
                    <div>
                        <div>
                            <mmf:forum.topicIcon topic="{topic}" width="32"/>
                            <h4>
                                <f:link.action controller="Topic" action="show" arguments="{topic: topic}"
                                               pageUid="{settings.pids.Forum}">
                                    <f:if condition="{topic.question} == 1">
                                        [
                                        <f:translate key="Forum_Show_Topic_Question"/>
                                        ]
                                    </f:if>
                                    {topic.subject}
                                </f:link.action>
                            </h4>
                            <f:format.date format="d.m.Y H:i">{topic.timestamp}</f:format.date>
                            -
                            <f:translate key="User_Show_Messages_Conversation_Answer"/>
                            : {topic.replyCount} -
                            <f:translate key="Generic_By"/>
                            <mmf:user.link user="{topic.author}"/>
                        </div>
                    </div>
                    <f:if condition="{0:iteration.total} == {0:iteration.cycle}">
                        <f:else>
                            <f:if condition="{iteration.cycle} % 2">
                                <f:else>
									</div>
									<div>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:for>
			</div>
		</f:then>
		<f:else>
			<div>
				<div>
					<strong>
						<f:translate key="Notice"/>
					</strong>
					<f:translate key="General_No_Entries"/>
				</div>
			</div>
		</f:else>
	</f:if>
</div>


<f:if condition="{noDetail} == 1">
    <div>
        <f:link.action pageUid="{settings.pids.Forum}" controller="User" action="listTopics" arguments="{user: user}">
            <i class="iconset-20-balloon"></i>
            <f:translate key="User_Index_All_MyTopics"/>
            ({user.topicCount})
        </f:link.action>
    </div>
</f:if>
