{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}

<ul>
    <li>
        <f:link.action controller="Forum" action="show" arguments="{forum: topic.forum}">
            <i class="tx-typo3forum-icon-16-back"></i>
            <f:translate key="Button_Back"/>
        </f:link.action>
    </li>

    <mmf:authentication.ifAccess object="{topic}" accessType="newPost">
        <li>
            <f:link.action controller="Post" action="new" arguments="{topic: topic}">
                <i class="tx-typo3forum-icon-16-post-new"></i>
                <f:translate key="Button_Reply"/>
            </f:link.action>
        </li>
    </mmf:authentication.ifAccess>

    <mmf:authentication.ifLoggedIn>
        <li>
            <mmf:user.ifSubscribed object="{topic}">
                <f:then>
                    <f:link.action controller="User" action="subscribe" arguments="{topic: topic, unsubscribe: 1}">
                        <i class="tx-typo3forum-icon-16-unsubscribe"></i>
                        <f:translate key="Button_Unsubscribe"/>
                    </f:link.action>
                </f:then>
                <f:else>
                    <f:link.action controller="User" action="subscribe" arguments="{topic: topic}">
                        <i class="tx-typo3forum-icon-16-subscribe"></i>
                        <f:translate key="Button_Subscribe"/>
                    </f:link.action>
                </f:else>
            </mmf:user.ifSubscribed>
        </li>
    </mmf:authentication.ifLoggedIn>

    <mmf:authentication.ifAccess object="{topic}" accessType="moderate">
        <li class="dropdown dropup">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="tx-typo3forum-icon-16-moderate"></i>
                <f:translate key="Button_Moderate"/>
                <b></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <f:link.action controller="Moderation" action="editTopic" arguments="{topic: topic}">
                        <i class="tx-typo3forum-icon-16-moderate"></i>
                        <f:translate key="Button_Moderate"/>
                    </f:link.action>
                </li>
                <li></li>
                <li>
                    <f:link.action controller="Moderation" action="deleteTopic" arguments="{topic: topic}">
                        <i class="tx-typo3forum-icon-16-post-delete"></i>
                        <f:translate key="Button_Delete_Topic"/>
                    </f:link.action>
                </li>
            </ul>
        </li>
    </mmf:authentication.ifAccess>
</ul>
