{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}

<h1>
	<f:translate key="User_Index" />
</h1>

<f:widget.paginate objects="{dataset.users}" as="paginatedUser" configuration="{settings.pagebrowser.default}">

	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>
					<f:translate key="User_Index_Username" />
				</th>
				<th>
					<f:translate key="User_Index_MemberSince" />
				</th>
				<th>
					<f:translate key="User_Index_Posts" />
				</th>
				<th>
					<f:translate key="User_Index_Helpful_Posts" />
				</th>
			</tr>
		</thead>
			<f:for each="{paginatedUser}" as="user">
				<tr>
					<td>
						<mmf:user.avatar user="{user}" width="36" alt="" class="img-polaroid img-rounded" />
					</td>
					<td>
						<mmf:user.link user="{user}"/></td>
					<td>
						<f:format.date format="d. m. Y">{user.timestamp}</f:format.date>
					</td>
					<td>{user.postCount}</td>
					<td>{user.helpfulCount}</td>
				</tr>
			</f:for>
	</table>
</f:widget.paginate>