{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}
<f:layout name="default"/>
<f:section name="main">
    <h1><f:translate key="User_Index_Dashboard"/></h1>
    <div>
        <div>
            <mmf:user.avatar user="{user}" width="150" height="150" alt="{user.username}"
                             class="tx-typo3forum-topic-show-post-user-icon"/>
        </div>
        <div>
            <div>
                <span class="dashboard-username">{user.firstname} {user.lastname}</span> "{user.username}"
                <f:if condition="{user.gender} != 99">
                    <f:if condition="{user.gender} == 1">
                        <f:then>
                            <i class="iconset-22-female"></i>
                        </f:then>
                        <f:else>
                            <i class="iconset-22-male"></i>
                        </f:else>
                    </f:if>
                </f:if>
            </div>
            <br/>
            <ul style="list-style-type: none;">
                <li>
                    <f:translate key="User_Show_MemberSince"/>
                    :
                    <f:format.date format="d.m.Y">{user.timestamp}</f:format.date>
                </li>
                <li>
                    <f:translate key="User_Index_Posts"/>
                    :
                    <f:link.action pageUid="{settings.pids.Forum}" controller="User" action="listPosts">
                        {user.postCount}
                    </f:link.action>
                </li>
                <li>
                    <f:translate key="User_Index_Questions"/>
                    :
                    <f:link.action pageUid="{settings.pids.Forum}" controller="User" action="listQuestions">
                        {user.questionCount}
                    </f:link.action>
                </li>
                <li>
                    <f:translate key="User_Show_Rank"/>
                    : {user.rank.name}
                </li>
                <li>
                    <f:translate key="User_Show_Points"/>
                    : {user.points}
                </li>
                <li>
                    <f:link.page pageUid="{settings.pids.UserShow}">
                        <f:translate key="Link_My_Profile"/>
                    </f:link.page>
                </li>
                <li>
                    <f:link.page pageUid="374">
                        <f:translate
                                key="LLL:EXT:typo3net/Resources/Private/Language/locallang.xml:nav-top-sub-profile-settings"/>
                    </f:link.page>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div>
            <h1><f:translate key="User_Index_Notifications"/></h1>
            <f:render partial="User/NotificationBox"
                      arguments="{notifications: myNotifications, currentUser: user, noDetail: 1}"></f:render>
        </div>
        <div>
            <h1><f:translate key="User_Index_Messages"/></h1>
            <f:render partial="User/MessageBox" arguments="{messages: myMessages}"></f:render>
        </div>
    </div>
    <div>
        <h1><f:translate key="User_Index_Favorites"/></h1>
        <f:render partial="User/FavoriteBox" arguments="{topics: myFavorites, noDetail: 1}"></f:render>
    </div>
    <div>
        <h1><f:translate key="User_Index_MyTopics"/></h1>
        <f:render partial="User/TopicsBox" arguments="{topics: myTopics, noDetail: 1, user: user}"></f:render>
    </div>
</f:section>
<f:section name="menu"/>