{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}
<f:layout name="default"/>
<f:section name="main">
	<h2><f:translate key="User_Show_Notification_All" /></h2>
	<div>
		<div>
			<f:widget.paginate objects="{notifications}" as="paginatedNotification" configuration="{settings.pagebrowser.default}">
				<f:for each="{paginatedNotification}" as="notification" iteration="iteration">
					<div class="{f:if(condition:'{notification.userRead} == 0',then:'well',else:'')} {f:if(condition:'{iteration.circle} == 0',then:'margin-top',else:'')}" style="margin-bottom: 30px;">
						<div>
							<mmf:user.avatar user="{notification.post.author}" width="40"
											 alt="{notification.post.author.username}"
											 class="tx-typo3forum-topic-show-post-user-icon"/>
							<span >
								<f:format.date format="d.m.Y">{notification.post.timestamp}</f:format.date>
								<f:translate key="Date_At" />
								<f:format.date format="H:i">{notification.post.timestamp}</f:format.date>
								<f:translate key="Date_Clock" />,
							</span>
							<mmf:user.link user="{notification.post.author}"/>
						</div>
						<div>
							<f:if condition="{notification.tag} != {NULL}">
								<f:then>
									<f:translate key="User_Show_Notification_Tag_1" />
									<f:link.action pageUid="{settings.pids.Forum}" controller="Post" action="show" arguments="{post: notification.post}">
										<f:translate key="Forum_Index_Topic" />
									</f:link.action>
									<f:translate key="User_Show_Notification_Tag_2" />
									<f:link.action controller="Tag" action="list" arguments="{tag: notification.tag}">
										{notification.tag.name}
									</f:link.action>
									<f:translate key="User_Show_Notification_Tag_3" />
								</f:then>
								<f:else>
									<f:if condition="{currentUser} == {notification.post.topic.author}">
										<f:then>
											<f:translate key="User_Show_Notification_Author_1" /> <f:translate key="Forum_Index_Topic" />
											<f:link.action pageUid="{settings.pids.Forum}" controller="Post" action="show" arguments="{post: notification.post}">
												{notification.post.topic.subject}
											</f:link.action>
											<f:translate key="User_Show_Notification_Author_2" />
										</f:then>
										<f:else>
											<f:translate key="User_Show_Notification_Common_1" /> <f:translate key="Forum_Index_Topic" />
											<f:link.action pageUid="{settings.pids.Forum}" controller="Post" action="show" arguments="{post: notification.post}">
												{notification.post.topic.subject}
											</f:link.action>
											<f:translate key="User_Show_Notification_Common_2" />
										</f:else>
									</f:if>
								</f:else>
							</f:if>
						</div>
					</div>
				</f:for>
			</f:widget.paginate>
		</div>
	</div>
</f:section>
<f:section name="menu"/>