{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}
<f:layout name="default"/>
<f:section name="main">
    <h2><f:translate key="User_Show"/> <small>{user.username}</small></h2>
    <div>
        <div>
            <fieldset>
                <legend><f:translate key="User_Show_GeneralInformation"/></legend>
                <table>
                    <colgroup>
                        <col width="30%"/>
                        <col width="70%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <td colspan="2">
                            <f:render partial="User/InformationRow" arguments="{user: user}"/>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{userfields}" as="userfield">
                        <tr>
                            <td style="text-align: right;">
                                <f:translate key="{userfield.name}" default="{userfield.name}"/>
                            </td>
                            <td>
                                <mmf:user.userfield user="{user}" userfield="{userfield}"/>
                            </td>
                        </tr>
                    </f:for>
                    </tbody>
                </table>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend>
                    <f:translate key="User_Show_LatestPosts"/>
                    <f:link.action action="listPosts" arguments="{user: user}">
                        <f:translate key="Generic_More"/>
                    </f:link.action>
                </legend>
                <f:render partial="Topic/List" arguments="{topics: topics}"/>
            </fieldset>
        </div>
    </div>
</f:section>
<f:section name="menu" />